.footer {
	font-size: 0.8rem;
	margin-top: auto;
	padding: 1rem;
	background-color: #171719;
	color: #cdcdcd;
}

.contact-and-address {
	display: flex;
	text-align: left;
	margin-top: auto;
	gap: 2rem;
}

.fa-icon {
	margin-right: 10px;
	color: #cdcdcd;
}

.contact a:hover {
	color: #fff;
}
